/_site/
/.sass-cache/
/.jekyll-metadata/
/deploy
/js/main.js
/js/main.js.map
/node_modules/
/typings/
.~*
/.gradle/
/build/
/.classpath
/.project
/.settings/
/bin/
*.swp
*.log
*.log.gz
/app.jar
/webcodecamjs-master/
/materialNote-master/
/material-datetime-picker-1.0.1/
/js/*
!/js/keep.js
/audio/
/css/*
!/css/main.scss
/font/
*.zip
