<nav ng-controller="header" ng-hide="title == null || title == ''" class="indigo darken-4">
    <div class="nav-wrapper">
        <a class="brand-logo center" ng-bind="title"></a>
        <ul class="left">
            <li>
                <a ng-click="back()">
                    <i class="material-icons">
                        arrow_back
                    </i>
                </a>
            </li>
        </ul>
        <div class="container">
            <ul class="right">
                <li ng-show="LoginController.user.permissions.events.view">
                    <a ng-click="go('/admin/meetings')">Meetings</a>
                </li>
                <li>
                    <a ng-click="go('/profile')" onclick="setTimeout(function() { $('.profile-tabs').tabs('select_tab', 'profile-tab-contact'); }, 0)">Profile</a>
                </li>
                <li ng-show="LoginController.user.permissions.kiosk.open">
                    <a ng-click="go('/kiosk')">Kiosk</a>
                </li>
                <li ng-show="LoginController.user.permissions.users.view">
                    <a ng-click="go('/admin/users')">Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" ng-controller="pages">
    {% for p in site.data.pages %}
        <div ng-show="name == '{{ p.name }}'" id="page-{{ p.name }}" ng-controller="page-{{ p.name }}">
            <input type="hidden" name="navbarTitle" value="{{ p.navbarTitle }}" />
            <input type="hidden" name="pageTitle" value="{{ p.pageTitle }}" />
            <input type="hidden" name="pageUrl" value="{{ p.url }}" />
            {% include pages/{{ p.name }}.html %}
        </div>
    {% endfor %}
</div>
<div class="loading"></div>