<div class="navbar-fixed">
    <nav ng-controller="header" ng-hide="title == null || title == ''" class="indigo darken-4">
        <div class="nav-wrapper">
            <a class="brand-logo center" ng-bind="title"></a>
            <ul class="left" class="hide-on-med-and-up">
                <li>
                    <a data-activates="navbar-slide-out" class="button-collapse">
                        <i class="material-icons">
                            menu
                        </i>
                    </a>
                </li>
            </ul>
            <div class="hide-on-small-only">
                <ul class="left">
                    <li>
                        <a ng-click="back()">
                            <i class="material-icons">
                                arrow_back
                            </i>
                        </a>
                    </li>
                </ul>
                <div class="container">
                    <ul class="right">
                        <li>
                            <a ng-click="openProfile()">
                                Profile
                            </a>
                        </li>
                        <li ng-show="LoginController.user.permissions.kiosk.open">
                            <a ng-click="go('/kiosk')">
                                Kiosk
                            </a>
                        </li>
                        <li ng-show="LoginController.user.permissions.devices.add || LoginController.user.permissions.devices.update || LoginController.user.permissions.devices.remove || LoginController.user.permissions.events.view || LoginController.user.permissions.message.send || LoginController.user.permissions.settings.view || LoginController.user.permissions.users.view">
                            <a class="dropdown-button" data-activates="navbar-admin-dropdown">
                                Administration
                                <i class="material-icons right">
                                    arrow_drop_down
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul id="navbar-slide-out" class="side-nav hide-on-med-and-up">
            <li>
                <a onclick="$('.button-collapse').sideNav('hide')" ng-click="back()">
                    <i class="material-icons">
                        arrow_back
                    </i>
                    Back
                </a>
            </li>
            <li>
                <a onclick="$('.button-collapse').sideNav('hide')" ng-click="openProfile()">
                    Profile
                </a>
            </li>
            <li ng-show="LoginController.user.permissions.kiosk.open">
                <a onclick="$('.button-collapse').sideNav('hide')" ng-click="go('/kiosk')">
                    Kiosk
                </a>
            </li>
            <li ng-show="LoginController.user.permissions.devices.add || LoginController.user.permissions.devices.update || LoginController.user.permissions.devices.remove || LoginController.user.permissions.events.view || LoginController.user.permissions.message.send || LoginController.user.permissions.settings.view || LoginController.user.permissions.users.view">
                <a class="dropdown-button" data-activates="navbar-admin-dropdown">
                    Administration
                    <i class="material-icons right">
                        arrow_drop_down
                    </i>
                </a>
            </li>
        </ul>
        <ul id="navbar-admin-dropdown" class="dropdown-content">
            <li ng-show="LoginController.user.permissions.devices.add || LoginController.user.permissions.devices.update || LoginController.user.permissions.devices.remove">
                <a onclick="$('.button-collapse').sideNav('hide')" ng-click="go('/admin/devices')">
                    Devices
                </a>
            </li>
            <li ng-show="LoginController.user.permissions.events.view">
                <a onclick="$('.button-collapse').sideNav('hide')" ng-click="go('/admin/events')">
                    Events
                </a>
            </li>
            <li ng-show="LoginController.user.permissions.message.send">
                <a onclick="$('.button-collapse').sideNav('hide')" ng-click="go('/send')">
                    Send Message
                </a>
            </li>
            <li ng-show="LoginController.user.permissions.settings.view">
                <a onclick="$('.button-collapse').sideNav('hide')" ng-click="go('/admin/settings')">
                    Settings
                </a>
            </li>
            <li ng-show="LoginController.user.permissions.users.view">
                <a onclick="$('.button-collapse').sideNav('hide')" ng-click="go('/admin/users')">
                    Users
                </a>
            </li>
        <ul>
    </nav>
</div>
<div class="container" ng-controller="pages">
    {% for p in site.data.pages %}
        <div ng-show="name == '{{ p.name }}'" id="page-{{ p.name }}" ng-controller="page-{{ p.name }}">
            <input type="hidden" name="navbarTitle" value="{{ p.navbarTitle }}" />
            <input type="hidden" name="pageTitle" value="{{ p.pageTitle }}" />
            <input type="hidden" name="pageUrl" value="{{ p.url }}" />
            {% include pages/{{ p.name }}.html %}
        </div>
    {% endfor %}
</div>
<div class="loading"></div>