<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

<title>Loading...</title>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<!-- Angular JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-sanitize.js"></script>

<!-- Material Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<!-- QR Code Scanner -->
<script src="{{ site.baseurl }}/js/qrcodelib.js"></script>
<script src="{{ site.baseurl }}/js/webcodecamjquery.js"></script>

<!-- Material Note -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/materialNote.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/codemirror.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/monokai.css" />
<script src="{{ site.baseurl }}/js/ckMaterializeOverrides.js"></script>
<script src="{{ site.baseurl }}/js/codemirror.js"></script>
<script src="{{ site.baseurl }}/js/xml.js"></script>
<script src="{{ site.baseurl }}/js/materialNote.js"></script>

<!-- Include Materialize CSS again -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" />

<!-- Material Date/Time Picker -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/material-datetime-picker.css" />
<script src="{{ site.baseurl }}/js/material-datetime-picker.js"></script>

<!-- Our stuff -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
<script src="{{ site.baseurl }}/js/main.js"></script>
