.button {
    height: 90px;
    font-size: 30px;
}
.kiosk-pin .kiosk-placeholder {
    opacity: 0;
}
.kiosk-pin {
    text-align: center;
}
.userpicture {
    height: 250px;
}
.kiosk-qr-video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
