.button {
    height: 120px;
    font-size: 30px;
}
.inputa {
    text-align: center;
    font-size: 100%;
}
.userpicture {
    height: 300px;
}
.kiosk-qr-video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
