<div class="row">
    <div class="col s12">
        <h1 class="center">
            Forgot Credentials
        </h1>
    </div>
</div>
<form onsubmit="return false">
    <div class="row">
        <div class="col s12 input-field">
            <input name="server" type="text" ng-model="server" />
            <label for="server">Server</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12 input-field">
            <select ng-model="type" ng-change="activateLabels()">
                <option value="username" selected>Username</option>
                <option value="email">Email</option>
                <option value="phone">Phone Number</option>
                <option value="nothing">Nothing</option>
            </select>
            <label>What you remember</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12 input-field" ng-show="type == 'username'">
            <input name="user" type="text" ng-model="value" />
            <label for="user">Username</label>
        </div>
        <div class="col s12 input-field" ng-show="type == 'email'">
            <input name="email" type="text" ng-model="value" />
            <label for="email">Email</label>
        </div>
        <div class="col s12 input-field" ng-show="type == 'phone'">
            <input name="phone" type="text" ng-model="value" />
            <label for="phone">Phone Number</label>
        </div>
        <div class="col s12 input-field" ng-show="type == 'nothing'">
            Then how am I supposed to help you?
        </div>
    </div>
    <div class="row" ng-hide="type == 'nothing'">
        <div class="col s4 center">
            <button type="button" class="waves-effect waves-light btn" ng-click="back()">
                Back
            </button>
        </div>
        <div class="col s4 center">
            <button type="button" class="waves-effect waves-light btn" ng-click="forgot('username')" ng-disabled="type == 'username'">
                Forgot Username
            </button>
        </div>
        <div class="col s4 center">
            <button type="button" class="waves-effect waves-light btn" ng-click="forgot('password')">
                Forgot Password
            </button>
        </div>
    </div>
</form>
