<h1>
    Hello,
    <span ng-bind="LoginController.user.profile.name"></span>
    <span ng-hide="LoginController.user.profile.pin == 0">
        (pin
        <span ng-bind="LoginController.user.profile.pin"></span>
        )
    </span>
</h1>
<div ng-repeat="message in messages">
    <b>
        <span ng-bind="message.date"></span>
        <span ng-bind="message.time"></span>
    </b>
    <p ng-bind-html="trust(message.message)"></p>
    <i>
        From
        <span ng-bind="message.from"></span>
    </i>
    <hr />
</div>
