<style>
.button {
    height: 120px;
}
</style>

<h1 class="center">Welcome</h1>
<h3 class="center">Please enter your pin or scan a code</h3>

<input disabled id="pin" type="number" maxlength="3" style="font-size:25px">

<div class="row">
    <div class="col s12">
        <div class="col s4">
            <button value="1" class="btn col s12 button blue">1</button>
        </div>
        <div class="col s4">
            <button value="2" class="btn col s12 button blue">2</button>
        </div>
        <div class="col s4">
            <button value="3" class="btn col s12 button blue">3</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="col s4">
            <button value="4" class="btn col s12 button blue">4</button>
        </div>
        <div class="col s4">
            <button value="5" class="btn col s12 button blue">5</button>
        </div>
        <div class="col s4">
            <button value="6" class="btn col s12 button blue">6</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="col s4">
            <button value="7" class="btn col s12 button blue">7</button>
        </div>
        <div class="col s4">
            <button value="8" class="btn col s12 button blue">8</button>
        </div>
        <div class="col s4">
            <button value="9" class="btn col s12 button blue">9</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="col s4">
            <button value="back" class="btn col s12 button blue">Back</button>
        </div>
        <div class="col s4">
            <button value="0" class="btn col s12 button blue">0</button>
        </div>
        <div class="col s4">
            <button value="go" class="btn col s12 button blue">Go</button>
        </div>
    </div>
</div>


