<div ng-hide="confirm">
    <h3 class="center">Please enter your pin or scan a code</h3>
    <br/>

    <ul class="collection">
        <li class="collection-item">
            <h4 class="kiosk-pin">
                <span class="kiosk-placeholder">-</span>
                <span ng-bind="pin"></span>
                <span class="kiosk-placeholder">-</span>
            </h4>
        </li>
    </ul>

    <div class="row">
        <div class="col s12">
            <div class="col s4">
                <button value="1" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin + '1'">1</button>
            </div>
            <div class="col s4">
                <button value="2" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin + '2'">2</button>
            </div>
            <div class="col s4">
                <button value="3" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '3'">3</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s4">
                <button value="4" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '4'">4</button>
            </div>
            <div class="col s4">
                <button value="5" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '5'">5</button>
            </div>
            <div class="col s4">
                <button value="6" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '6'">6</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s4">
                <button value="7" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '7'">7</button>
            </div>
            <div class="col s4">
                <button value="8" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '8'">8</button>
            </div>
            <div class="col s4">
                <button value="9" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '9'">9</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s4">
                <button value="back" class="btn col s12 button blue waves-effect waves-blue" ng-click="pin = pin.substring(0,pin.length - 1);">Backspace</button>
            </div>
            <div class="col s4">
                <button value="0" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length > 2" ng-click="pin = pin +  '0'">0</button>
            </div>
            <div class="col s4">
                <button value="go" class="btn col s12 button blue waves-effect waves-blue" ng-disabled="pin.length < 3" ng-click="go()">Go</button>
            </div>
        </div>
    </div>
    <canvas class="kiosk-qr-video"></canvas>
</div>
<div ng-show="confirm">
    <h1 class="center">Are you <span ng-bind="user.name"></span>?</h1>
    <h3 class="center">You have <span ng-bind="user.unexcused"></span> unexcused absences.</h3>
    <br/>
    <h6 class="center"><img class="userpicture" ng-src="{{ "{{ user.picture " }}}}" /></h6>
    <br/>
    <br/>
    <div class="row">
        <div class="col s6">
            <button value="notme" class="btn col s12 button red waves-effect waves-red" ng-click="notme()">No</button>
        </div>
        <div class="col s6">
            <button value="me" class="btn col s12 button blue waves-effect waves-blue" ng-click="me()">Yes</button>
        </div>
    </div>
</div>
<div id="kiosk-absence-warning" class="modal">
    <div class="modal-content">
        <h4>
            Warning!
        </h4>
        <p>
            It looks like you have had a lot of unexcused absences!
            Please contact a team administrator if you believe this is incorrect.
        </p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat" ng-click="finish()">
            Dismiss
        </a>
    </div>
</div>
<div id="kiosk-absence-error" class="modal">
    <div class="modal-content">
        <h4>
            Sorry!
        </h4>
        <p>
            It looks like you have had too many unexcused absences!
            Please contact a team administrator as soon as you can.
        </p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">
            Dismiss
        </a>
    </div>
</div>
