  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#profile-tab-contact">Contact</a></li>
        <li class="tab col s3"><a href="#profile-tab-picture">Picture</a></li>
        <li class="tab col s3"><a href="#profile-tab-rsvp">RSVP</a></li>
        <li class="tab col s3"><a href="#profile-tab-pin">Pin</a></li>
        <li class="tab col s3"><a href="#profile-tab-records">Records</a></li>
      </ul>
    </div>
    <div id="profile-tab-contact" class="col s12">Test 1</div>
    <div id="profile-tab-picture" class="col s12">Test 2</div>
    <div id="profile-tab-rsvp" class="col s12">Test 3</div>
    <div id="profile-tab-pin" class="col s12">Test 4</div>
    <div id="profile-tab-records" class="col s12">Test 5</div>
  </div>