<h5 class="center">Manage Users</h5>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Verified</th>
            <th>Unexcused</th>
            <th>Late</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td ng-bind="user.name"></td>
            <td ng-bind="user.verified">
                  <div class="switch">
                    <label>
                     Yes
                    <input type="checkbox" ng-value="user.verified">
                    <span class="lever"></span>
                    No
                     </label>
                    </div>
        
            </td>
            <td ng-bind="user.unexcused"></td>
            <td ng-bind="user.late"></td>
        </tr>
    </tbody>
</table>