<table class="highlight">
    <thead>
        <tr>
            <th>Name</th>
            <th>Verified</th>
            <th>Unexcused</th>
            <th>Late</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td ng-bind="user.name" ng-click="openProfile(user.id)"></td>
            <td>
                <div class="switch">
                    <label>
                        No
                        <input type="checkbox" ng-model="user.verified" ng-change="updateVerification(user)">
                        <span class="lever"></span>
                        Yes
                    </label>
                </div>
            </td>
            <td ng-bind="user.unexcused" ng-click="openProfile(user.id)"></td>
            <td ng-bind="user.late" ng-click="openProfile(user.id)"></td>
        </tr>
    </tbody>
</table>
